on:
  push:
    paths:
      - "addon-hyperhdr/config.json"
      - "addon-hyperhdr/Dockerfile"
      - ".github/workflows/build.yml"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    strategy:
      matrix:
        arch:
          - amd64
          - aarch64

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push
        uses: docker/build-push-action@v6
        with:
          context: addon-hyperhdr
          push: true
          build-args: |
            BUILD_ARCH=${{ matrix.arch }}
          tags: |
            ghcr.io/jessica12ryan/${{ matrix.arch }}-hyperhdr:latest
